Repository opentensor/btwallet, pull requests merged in 2025-07, with the labels that each got.

#156 Add `hotkeypub` to bittensor-wallet
  Cargo.lock
  bittensor_wallet/wallet/__init__.pyi
  src/python_bindings.rs
  src/wallet.rs
  tests/test_common_calls.py
  tests/test_wallet.py
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests, skip-check-rust

#158 Release/3.1.0
  CHANGELOG.MD
  Cargo.lock
  Cargo.toml
  bittensor_wallet/wallet/__init__.pyi
  src/python_bindings.rs
  src/wallet.rs
  tests/test_common_calls.py
  tests/test_wallet.py
Labels: run-bittensor-sdk-tests, Release

#160 make when_created field optional for json file import
  Cargo.lock
  src/keypair.rs
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests
