Repository opentensor/btwallet, pull requests merged in 2025-04, with the labels that each got.

#119 fix returns for rust and pyi
  bittensor_wallet/__init__.pyi
  src/python_bindings.rs
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests, skip-check-rust

#120 back-merge-main-to-staging-v3.0.4
  CHANGELOG.MD
  Cargo.lock
  Cargo.toml
  pyproject.toml
Labels: skip-check-rust

#121 Release-v.3.0.5
  .github/workflows/check-btcli-tests.yml
  .github/workflows/check-rust.yml
  .github/workflows/check-sdk-tests.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
  RUST-README.md
  bittensor_wallet/__init__.pyi
  pyproject.toml
  src/keypair.rs
  src/python_bindings.rs
  src/wallet.rs
  tests/test_common_calls.py
  tests/test_keyfile.py
  tests/test_utils.py
  tests/test_wallet.py
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests, skip-check-rust

#122 Improve release workflow
  .circleci/config.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests, skip-check-rust

#124 Fixes, improvement, refactoring
  .github/workflows/release.yml
  CHANGELOG.MD
  Cargo.lock
  Cargo.toml
  bittensor_wallet/__init__.py
  bittensor_wallet/__init__.pyi
  bittensor_wallet/config/__init__.py
  bittensor_wallet/config/__init__.pyi
  bittensor_wallet/errors/__init__.py
  bittensor_wallet/errors/__init__.pyi
  bittensor_wallet/keyfile/__init__.pyi
  bittensor_wallet/keypair/__init__.pyi
  bittensor_wallet/utils/__init__.pyi
  bittensor_wallet/wallet/__init__.pyi
  pyproject.toml
Labels: bug, enhancement, run-bittensor-sdk-tests, run-bittensor-cli-tests, testing, skip-check-rust

#125 release/3.0.7
  .github/workflows/release.yml
  CHANGELOG.MD
  Cargo.lock
  Cargo.toml
  bittensor_wallet/__init__.py
  bittensor_wallet/__init__.pyi
  bittensor_wallet/config/__init__.py
  bittensor_wallet/config/__init__.pyi
  bittensor_wallet/errors/__init__.py
  bittensor_wallet/errors/__init__.pyi
  bittensor_wallet/keyfile/__init__.pyi
  bittensor_wallet/keypair/__init__.pyi
  bittensor_wallet/utils/__init__.pyi
  bittensor_wallet/wallet/__init__.pyi
  pyproject.toml
Labels: skip-check-rust

#128 Remove unused requirements
  pyproject.toml
  requirements/prod.txt
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#129 3.0.8: Bumps version and changelog
  CHANGELOG.MD
  Cargo.toml
  pyproject.toml
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#130 Release/3.0.8
  CHANGELOG.MD
  Cargo.toml
  pyproject.toml
  requirements/prod.txt
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#132 Update deps
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Labels: enhancement, skip-check-rust

#134 remove integration and unit tests from workflow
  .github/workflows/check-sdk-tests.yml
Labels: bug, skip-check-rust

#133 Change log - 3.0.9
  CHANGELOG.MD
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests

#135 Release/3.0.9
  .github/workflows/check-sdk-tests.yml
  CHANGELOG.MD
  Cargo.lock
  bittensor_wallet/keyfile/__init__.pyi
  bittensor_wallet/mock/wallet_mock.py
  pyproject.toml
  requirements/dev.txt
  requirements/prod.txt
Labels: run-bittensor-sdk-tests, run-bittensor-cli-tests
